<footer class="flexItem7 textRand bgSchwarz">
        <div class="footerOben WeißAufSchwarz">
          <img src="/images/Logo.svg" class="logoFooter">
          <div class="flex7Überschriften WeißAufSchwarz">
            <h3>Rustica</h3>
            <h4>Café und Rösterei</h4>
          </div>
        </div>
          <div class="ulliDiv">
            <ul>
              <li>Komm uns besuchen!</li>
              <li>Fraunhoferstr. 13, Kiel</li><br>
            </ul>
            <ul>
              <li>Mo - Fr 8-18 Uhr</li>
              <li>Sa 11-18 Uhr</li>
            </ul>
          </div>
          <div class="FooterUllisUnten">
            <div class="ulliDiv2 ulliDesktopReverse2">
              <ul>
                <li>Impressum</li>
                <li>Datenschutz</li>
              </ul>
            </div>
            <div class="ulliDiv2 ulliDesktopReverse1">
              <ul>
                <li>Café</li>
                <li>Shop</li>
                <li>Herkunft</li>
              </ul>
            </div>
         </div>
          
      </footer>    