<div class="logoStyle logoBlack">
                <img src="/images/Logo.svg" fill="white" class="logo1">
                <img src="/images/Burger Menu.svg" class="logo2">
                <nav class="Nav">
                <img src="/images/Logo.svg" class="LogoNavDesktop">
                <div class="logolinksnav">
                    <a href="/sub-page/" class="LinksNavDesktop">das Café</a>
                    <a href="/sub-page/" class="LinksNavDesktop">Herkunft</a>
                    <a href="/sub-page/" class="LinksNavDesktop">Shop</a>
                    <img src="/images/Einkaufskorb.svg" class="ShopNavDesktop" alt="Zum Shop">
                </div>
                </nav>
            </div>