<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/menu_sp.css" />

<div class="logoStyle">
          <img src="/images/Logo.svg" fill="white" class="logo1">
          <a href="javascript:void(0)" class="WeißOhneSchwarz logo2" onclick="animation()"><img src="/images/Burger Menu.svg"></a>
          <nav class="Nav">
            <img src="/images/Logo.svg" class="LogoNavDesktop">
            <div class="logolinksnav WeißOhneSchwarz">
              <a href="/sub-page/cafe.html" class="LinksNavDesktop WeißOhneSchwarz">das Café</a>
              <a href="/sub-page/herkunft.html" class="LinksNavDesktop WeißOhneSchwarz">Herkunft</a>
              <a href="/sub-page/shop.html" class="LinksNavDesktop WeißOhneSchwarz">Shop</a>
              <img src="/images/Einkaufskorb.svg" class="ShopNavDesktop" alt="Zum Shop">
            </div>
          </nav>
          <script src="../js/menu_sp.js" type="module"></script>
</div>