<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="/css/menu_sp.css" />
<link rel="stylesheet" href="/css/base.css" />



<div class="logoStyle logoBlack">
    <img src="/images/Logo.svg" fill="white" class="logo1">
    <button class="WeißOhneSchwarz logo2  btn"><img src="/images/Burger Menu.svg"></button>
    <div class="nav hidden WeißAufSchwarz">
        <button class="close WeißAufSchwarz"><img src="/images/Menu-X.svg"></button>
        <div class="navListStyle WeißOhneSchwarz">
            <a href="/sub-page/cafe.html" class="WeißOhneSchwarz">das Café</a>
            <a href="/sub-page/herkunft.html" class="WeißOhneSchwarz">Herkunft</a>
            <a href="/sub-page/shop.html" class="WeißOhneSchwarz">Shop</a>
        </div>
    </div>
    <img src="/images/Logo.svg" class="LogoNavDesktop">
    <div class="logolinksnav">
        <a href="/sub-page/" class="LinksNavDesktop">das Café</a>
        <a href="/sub-page/" class="LinksNavDesktop">Herkunft</a>
        <a href="/sub-page/" class="LinksNavDesktop">Shop</a>
        <img src="/images/Einkaufskorb.svg" class="ShopNavDesktop" alt="Zum Shop">
    </div>
    <script src="../js/menu_sp.js" type="module"></script>
</div>