
.body {
    max-width: 1440px;
}

.header {
    box-sizing: border-box;
    display: flex;
    height: 50vh;
    width: 100%;
    background-image: url("../images/FEND-Coffee-shop.jpg");
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.textboxCafe3 {
    display: flex;
    flex-direction: column;
    padding: 0vw 15vw;
}

@media (min-width: 0px) {

    .Flex3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: fit-content;
        padding-bottom: 3rem;
        flex-wrap: wrap;

    }
    .columnFlex3 {
        columns: 2;
        column-gap: .3rem;
        margin-left: .5rem;
    }
    .columnFlex3b {
        display: none;
    }
    .columnFlex3 img {
        width: 40vw;
        margin: .2rem;
    }    
    
    .Flex1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
   .imgKaffeemaschine {
        width: 60vw;
    }
    .Flex2 {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .Flex3 {
        margin: 0 4rem;
    }
    .columnFlex3 {
        display: none;
    }

    .columnFlex3b {
        columns: 4;
        column-gap: 0.3rem;
        margin-left: .5rem;
    }

    .Flex1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .textColumns2 {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 30vh;
        margin-bottom: 10vh;
    }
    .Flex2 {
        display: flex;
        justify-content: center;
    }
    .imgKaffeemaschine {
        width: 50vw;
        padding: 2vw;
    }
}
.Karte {
    margin: 0;
    padding: 0;
}