.HeaderHerkunft {
    display: flex;
    height: 50vh;
    width:100%;
    background-image: url("../images/FEND-Coffee-beans-hand-2.jpg");
    fill: solid;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

p {
    color: black;
}

h2 {
    color: black;
}

@media (min-width: 0px) {

    .HerkunftOrder2 > img {
        padding: 0;
        padding-left: 30vw;
        width: 90%;
        box-sizing: border-box;
    }
    .HerkunftOrder3 > img {
        width: 60%;
        padding-right: 30vw;
    }
}

@media (min-width: 768px) {

    .FlexHerkunft {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .herkunftText {
        width: 55vw;
        padding-bottom: 5vw;
        padding-left: 0;
        color: black;
    }
    .AnbauContainer {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
    }
    .KaffeebauerContainer {
        display: flex;
    }
    .flex2Herkunft {
        display: flex;
        flex-direction: column;
    }
    .HerkunftOrder1 {
        display: flex;
        flex-direction: column;
        order: 0;
        padding-bottom: 0;
        flex-shrink: 3;
    }
    .HerkunftOrder2 > img {
        display: flex;
        order: 1;
        padding-left: 10vw;
        padding-top: 10rem;
        width: 100%;
    }
    .HerkunftOrder3 > img {
        order: 3;
        padding: 0;
        padding-right: 0rem;
        padding-top: 10rem;
        width: 75%;
    }
    .HerkunftOrder4 {
        order: 4;
        padding-top: 0;
    }    
}
