
.nav {

    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    position: absolute;
    transform: translate(0);
    transition: width .8s ease;
    display: flex;
    align-items: center;
}

.close {
    right: 0;
    top: 5px;
    position: absolute;
    border: none;
}

.navListStyle {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding-left: 5vw;
    font-size: 24px;
    color: white;
}
        
.hidden {
    left: -100vw;
}

a {
    color: white;
    text-decoration: none;
    line-height: 4rem;
    font-family: Roboto, sans serif;
    font-weight: 400;
}
