* {
    margin: 0;
}



@media (min-width: 0px) {
        .KaffeeKaufen {
        display: flex;
        flex-direction: column;
    }

    .prodDetailsDesktop {
        display: flex;
        flex-direction: column;
    }
    
    .ProdDetail1 {
    padding: 4rem 15vw;
    display: flex;
    justify-content: center;
    }
}

@media (min-width: 766px) {
    .KaffeeKaufen {
    display: flex;
    flex-direction: row;
    
}

    .prodDetailsDesktop {
        display: flex;
        flex-direction: row;
    }

    .ProdDetail1 {
        padding: 6rem 3vw;
        display: flex;
        justify-content: center;
    }

    .ProdDetail4 {
        padding: 10vw 25vw;
    }

}


.ProdDetail2 {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.selectStyleProdDetail {
    border: 1px solid black;
    border-radius: 2px;
    height:2rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
    margin-top:3rem;
    margin-bottom: 2rem;
    background: white;
    color: black;
    text-align:center;
    text-decoration: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProdDetail3 {
    display: flex;
    justify-content:flex-start;
}