.KaffeeSlider {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2rem;

    .Kaffeetüten {
        display: flex;
        width: 50vw;
        transform: translate(0);
        transition: transform .8s ease;
        img {
            width: 100%;
            }
    }
}

.BtnZurück {
    color: #1A1A1A;
    background-color:white;
    padding: 0.25rem;
}

.BtnNächster {
    color: #1A1A1A;
    background-color:white;
    padding: 0.25rem;
}




